@import "tailwindcss";

@theme {


  --font-agency: var(--font-agency), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
}

.section {
  background: #1a237e; /* section color */
  height: 120px;
  position: relative;
}

/* outer triangle (big colored one) */
.triangles {
  position: absolute;
  bottom: -40px;  /* push down */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #1a237e;
}

/* inner white "border" triangle */
.triangles::after {
  content: "";
  position: absolute;
  top: -35px; /* create gap */
  left: -35px;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid white; /* white border inside */
}

/*  */

/* .bg-geometric-pattern {
  background-color: #161b2b;
  background-image: linear-gradient(135deg, #1e253c 25%, transparent 25%),
    linear-gradient(225deg, #1e253c 25%, transparent 25%),
    linear-gradient(45deg, #1e253c 25%, transparent 25%),
    linear-gradient(315deg, #1e253c 25%, #161b2b 25%);
  background-position: 40px 0, 40px 0, 0 0, 0 0;
  background-size: 80px 80px;
  background-repeat: repeat;
} */


html {
  scroll-behavior: smooth;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-agency);
  font-weight: 400;
  text-transform: uppercase;
}

.font-agency {
  font-family: var(--font-agency);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}